<template>
    <div>
        <form @submit.prevent="handleSubmit">
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="text" placeholder="Text input" value="bulma">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="help is-danger"></p>
                    <p class="help is-success"></p>
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="password" placeholder="Text input" value="">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
                <p class="help is-danger"></p>
                <p class="help is-success"></p>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-text">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    export default {
        data () {
            return {
                username: '',
                password: '',
                submitted: false,
            }
        },
        computed: {
            loggingIn() {
                return this.$store.state.authentication.status.loggingIn;
            }
        },
        created () {
            this.$store.dispatch('authentication/logout');
        },
        methods: {
            handleSubmit (e) {
                this.submitted = true;
                const { username, password } = this;
                const { dispatch } = this.$store;
                if ( username && password ) {
                    dispatch('authentication/login', { username, password });
                }
            }
        }
    }
</script>