<template>
    <div class="list-item">
        <div class="columns">
            <div class="column is-capitalized">{{task.title}}</div>
            <div class="column is-capitalized">{{task.priority.name}}</div>
            <div class="column is-capitalized">{{task.severity.name}}</div>
            <div class="column">{{task.assigned.name}}</div>
            <div class="column is-capitalized">Open</div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['task']
    }
</script>
<style>
    .list-item { border-bottom: 2px solid black; padding: 5px 0; }
</style>