<template>
    <div class="box">
    <div class="columns">
        <div class="column is-2" style="border-right: 1px solid #888;">
            <aside class="menu">
                <p class="menu-label">
                    Release
                </p>
                <ul class="menu-list">
                    <li><a v-on:click="select('release burn up')">Burn Up</a></li>
                    <li><a v-on:click="select('release flow')">Flow</a></li>
                    <li><a v-on:click="select('release trend')">Trend</a></li>
                </ul>
                
                <p class="menu-label">
                    Story
                </p>
                <ul class="menu-list">
                    <li><a v-on:click="select('story burn up')">Burn up</a></li>
                    <li><a v-on:click="select('story burn down')">Burn Down</a></li>
                    <li><a v-on:click="select('story cycle')">Cycle Times</a></li>
                    <li><a v-on:click="select('story flow')">Flow</a></li>
                </ul>
                
                <p class="menu-label">
                    Defects
                </p>
                <ul class="menu-list">
                    <li><a v-on:click="select('defects priority')">Priority</a></li>
                    <li><a v-on:click="select('defects state')">State</a></li>
                    <li><a v-on:click="select('defects trend')">Trend</a></li>
                </ul>
                
                <p class="menu-label">
                    Users
                </p>
                <ul class="menu-list">
                    <li><a v-on:click="select('users available')">Availability</a></li>
                </ul>
            </aside>
        </div>
        <div class="column">
            <h4 class="subtitle">{{ selected }}</h4>
        </div>
    </div>
</div>
</template>
<script>
    export default {
        data: function () {
            return {
                selected: ''
            }
        },
        methods: {
            select(val) {
                this.selected = val;
            }
        }
    }
</script>
<style>
    .subtitle { text-transform: capitalize; }
</style>