<template>
    <div class="list-item">
        <div class="is-capitalized">{{comment.author.name}} {{createdAt}}</div>
        <br />
        <div>{{comment.comment}}</div>
    </div>
</template>
<script>
    export default {
        props: ['comment'],
        computed: {
            createdAt () {
                return window.moment.utc(this.comment.created_at).local().format('MM/DD/YYYY h:mm A');
            }
        }
    }
</script>
<style>

</style>