<template>
    <div>
        <div class="card" v-for="item in story">
            <header class="card-header">
                <i class="fa fa-book" aria-hidden="true"></i>
                <a :href='"/story/"+item.id' class="card-header-title">{{item.title}}</a>
            </header>
            <footer class="card-footer">
                <p class="card-footer-item">
                    <i class="fa" :class="classChanger(item.priority)" :style="classOrient(item.priority)" aria-hidden="true"></i>
                </p>
                <a href="#" class="card-footer-item"></a>
                <a href="#" class="card-footer-item"></a>
            </footer>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['story'],
        data: function () {
            return {
                priority: 0,
                severity: 0,
                user: 0,
            }
        },
        methods: {
            classChanger(priority) {
                var pClass = 'fa-arrow-up';
                
                if (priority == 4) {
                    pClass = 'fa-exclamation-circle has-text-danger'
                }
                
                return pClass;
            },
            classOrient: function(priority) {
                switch (priority) {
                    case 1:
                        return 'transform: rotate(0deg)'
                        break;
                        
                    case 2: 
                        return 'transform: rotate(45deg)'
                        break;
                        
                    case 3:
                        return 'transform: rotate(90deg)'
                        break;
                }
            }
        }
    }
</script>
<style>
    .fa-book {
        margin-top: 15px;
        margin-left: 10px;
    }
    .dot {
        height: 15px;
        width: 15px;
        max-height: 15px;
        max-width: 15px;
        border-radius: 25px;
        background-color: black;
    }
    .card {
        margin-bottom: 15px;
        box-shadow: 3px 3px 5px #a0a0a0;
        border-radius: 8px;
    }
</style>