<template>
    <div class="box">
        <div class="title">
            <div class="subtitle">Story/Issue #{{story.id}} <br />{{story.title}}</div>
        </div>
        <hr />
        <div class="columns">
            <div class="column has-text-centered">
                <div class="box storystate">
                    <div class="subtitle">State</div>
                    <span class="is-capitalized">{{story.stage.name}}</span>
                </div>
            </div>
            <div class="column has-text-centered">
                <div class="box storystate">
                    <div class="subtitle">Severity</div>
                    <span class="is-capitalized">{{story.severity.name}}</span>
                </div>
            </div>
            <div class="column has-text-centered">
                <div class="box storystate">
                    <div class="subtitle">Priority</div>
                    <span class="is-capitalized">{{story.priority.name}}</span>
                </div>
            </div>
            <div class="column has-text-centered">
                <div class="box storystate">
                    <div class="subtitle">Owner</div>
                    <span class="is-capitalized">{{story.owner.name}}</span>
                </div>
            </div>
            <div class="column has-text-centered">
                <div class="box storystate">
                    <div class="subtitle">Assigned To</div>
                    <span class="is-capitalized">{{story.assigned.name}}</span>
                </div>
            </div>
        </div>
        <div class="box">{{story.description}}</div>
        <div class="box tasks shadow" v-if="story.tasks.length > 0">
            <taskview v-for="item in story.tasks" :task="item" :key="item.id"></taskview>
        </div>
        <comments v-for="item in story.comments" :comment="item" :key="item.id"></comments>
    </div>
</template>
<script>
    export default {
        props: ['story']
    }
</script>
<style>
    .shadow { 
        box-shadow: 5px 3px 3px #aaa;
    }
    .storystate:hover {
        background-color: #b1f795;
    }
    .tasks {
        background-color: #95d4f7;
    }
</style>