<template>
    <div class="box">
        <p class="subtitle has-text-centered">{{title}}</p>
        <hr />
        <storycard v-if="stories.length > 0"  :story="stories"></storycard>
    </div>
</template>
<script>
    export default {
        props: ['title', 'data', 'stage'],
        data: function () {
            return {
                stories: []
            }
        },
        mounted() {
            var stories = [];
            for (var i=0; i<this.data.stories.length; i++) {
                //console.log(this.data.stories[i].state);
                if (this.data.stories[i].state == this.stage) {
                    stories.push(this.data.stories[i]);
                }
            }
            this.stories = stories;
        }
    }
</script>
<style>
</style>