<template>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="../../../assets/img/Agile-CoE-2.png" />
            </a>
            <a role="button" class="navbar-burger" arial-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                Home
            </a>
            <a href="/sprints" class="navbar-item"><i class="fa fa-forward" aria-hidden="true"></i>&nbsp; Sprints</a>
            <a href="/reports" class="navbar-item"><i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp; Reports</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <span :class="{'has-text-danger': project == 'No Project Selected'}">{{project}}</span>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link"><i class="fa fa-folder-open-o" aria-hidden="true"></i>&nbsp; Projects</a>
                    <div class="navbar-dropdown">
                        <div class="navbar-item">
                            <a href="/projects/create" class="menuitem"><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Project</a>
                        </div>
                        <hr class="navbar-divider"/>
                        <project-list></project-list>
                        <hr class="navbar-divider"/>
                        <div class="navbar-item">
                            <a href="/projects/manage" class="menuitem"><i class="fa fa-gears" aria-hidden="true"></i> Manage Project</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Login
                    </a>
                    <div class="navbar-dropdown">
                        <router-link to="/about" class="navbar-item">About</router-link>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>
<script>
    //Vue.component('projectsList', require('./components/projects/projects_list.vue'));
    //import About from './views/about.vue';
    import ProjectList from '@/components/projects/projects_list.vue';
    
    export default {
        name: 'ProjectsList',
        components: {
            ProjectList
        },
        data: function () {
            return {
                project: 'No Project Selected'
            }
        },
    }
</script>