<template>
    <div class="container">
        <div class="title">Birds eye view</div>
        <p>
            This is a basic vue/mongo/nodejs development platform designed to 
            make vue.js with a nodejs or golang backend all in one.  
        </p>
        <p>
            <strong>Vue</strong> is a popular js language, and this boilerplate
            template is designed to function just like production would work,
            without going through funky tools that assist development, but abstract
            production away from reality
        </p>
        <p></p>
        <p>
            <strong>Node JS</strong> is designed as the backend API, which can be
            setup as either public or private, allowing for pure UI consumption,
            or vue/web and mobile app consumption.
        </p>
        <p></p>
        <p>
            <strong>MongoDB</strong> is included as a straight forward, NoSQL 
            database engine to drive the ui's data needs, though static files
            such as this one can also be used.
        </p>
        <p></p>
        <p>
            <strong>Docker</strong> is the foundation that everything runs on.
            because matching production, and having a system that can be easily
            deployed via docker is preferred to using git or some other, 3rd 
            party deployment solution.  Basic containers include
        </p>
        <ul>
            <li>nginx - serving vue.js</li>
            <li>nodejs - specifically for node api backend</li>
            <li>mongodb - the data</li>
            <li>haproxy - for testing/building out a load balancing solution</li>
        </ul>
        <hr />
        <div class="subtitle">Configuration</div>
        <ul>
            <li>Vue.JS Configuration & modules
                <ul>
                    <li>Vue.js, Vuex, Vue-router, and Axios</li>
                    <li>Lodash, Moment.js, Chart.js, Bulma, and Font-awesome</li>
                    <li>Sass, Webpack, Babel</li>
                </ul>
            </li>
            <li>Webpack Config
                <ul>
                    <li>All required files & assets published to dist folder</li>
                    <li>include sass & css files dynamicall</li>
                    <li>minified & uglified css, js, and html for production</li>
                </ul>
            </li>
        </ul>
    </div>
</template>