<template>
    <div class="box">
        <h4 class="title">{{project.name}}</h4>
        <p>{{project.description}}</p>
    </div>
</template>
<script>
    export default {
      props: ['project']  
    }
</script>