<template>
    <div>
        <project v-for="item in projects" :item="item" :key="item.id"></project>
    </div>
</template>
<script>
    import axios from 'axios';
    import Project from '@/components/projects/project.vue';
    export default {
        components: {
            Project
        },
        data: function () {
            return {
                projects: [
                    {id: 1, name: 'Project 1'}, 
                    {id: 2, name: 'Project 2'},
                    {id: 3, name: 'Project 3'}
                ]
            }
        },
        mounted()
        {
            /*
            var url = "http://agile.de/data/projects";
            axios.get(url).then(response => {
                this.projects = response.data;
            });
            */
        }
    }
</script>